<h2>Fechas</h2>
        <div class="fecha">
            <img src="images/flyergrotesque.jpg" width="45%">
            <div class="infofecha">
                <h4>Presentacion del disco de Grotesque Impalement</h4>
                <p>Pr칩xima fecha junto a @grotesqueimpalement.arg que estar치 presentando su 칰ltimo disco. Junto con
                    @insidiousbrutal y @aghorismetal . Vamos a tocar temas de lo que ser치 el disco y llevaremos el
                    primer cover, si van a la fecha sabr치n cu치l es.
                    <br>
                    <br>
                    游돀La fecha ser치 el 7 de Mayo a las 23hs en @casacolombocc.
                    <br>
                    <br>
                    游꿞Para adquirir las entradas hace click <a
                        href="https://mianticipada.com/show/grotesque-impalement-en-casa-colombo/?fbclid=IwAR0ZL8-tJNl6h_msiB_23SE3qDbMprsp0XJkPdU1veF8bvRBaJDJAiq9Zg0"
                        target="aqui"><strong>aqui.</strong></a>
                    <br>
                    <br>
                    游눳Precio: $500 en puerta sale
                    m치s cara 游땳
                    <br>
                    <br>
                    Los esperamos a pasar una noche brutal 游뱆游낕游久勇
                </p>
            </div>
        </div>
        <div class="fecha">
            <img src="images/portada single viviendo en guerra.jpg" width="35%">
            <div class="infofecha">
                <h4>Presentacion del disco "Nunca Pudrirse"</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam itaque voluptas ab aut! Hic at
                    qui odio aliquam, esse accusamus officia animi aut, aspernatur, amet placeat consectetur laudantium?
                    Porro, iste!
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto pariatur nam aperiam nihil.
                    Necessitatibus itaque architecto repellendus omnis vel maiores, consequuntur beatae vero,
                    consectetur iusto et, aliquid voluptatum quia excepturi?
                </p>
            </div>
        </div>