<h2>Galeria</h2>
        <div class="galeria">
                <div class="foto">
            <img src="images/galeria/2.jpg" alt="img02">
        </div>
        <div class="foto">
            <img src="images/galeria/3.jpg" alt="img03">
        </div>
                <div class="foto">
            <img src="images/galeria/5.jpg" alt="img05">
        </div>
        <div class="foto">
            <img src="images/galeria/6.jpg" alt="img06">
        </div>
        <div class="foto">
            <img src="images/galeria/7.jpg" alt="img07">
        </div>
        <div class="foto">
            <img src="images/galeria/8.jpg" alt="img08">
        </div>
            
        </div>