<div class="holder">
            <center><img src="images/portada single viviendo en guerra.jpg" width="400" alt="portada"></center>
        </div>
        <div>
            <div class="bienvenidos">
                <h2>Bienvenidos a la pagina oficial de ReventoR</h2>
                <p class="introduccion">Ya esta disponible el single adelanto del proximo disco de la banda "Viviendo en
                    Guerra en todas las plataformas de streaming, lo encontras en la seccion
                    <a href="escuchanos" target="escuchanos"><strong>"Escuchanos"</strong></a>
                </p>
                <p class="redes">Podes seguirnos en 
                    <a href="https://www.facebook.com/reventormetal" target="Facebook"><strong>Facebook</strong></a>
                    <a href="https://www.instagram.com/reventor_/" target="Instagram"><strong>Instagram</strong></a>
                    <a href="https://www.youtube.com/channel/UCDVm_0Ypr4XJ0jMtHYxJuWw/featured" target="Youtube"><strong>Youtube</strong></a>
                </p>

            </div>
        </div>